<!DOCTYPE html>
<html>
  <head>
    <title>stateborn - where communities grow</title>
    <meta property="og:title" content="stateborn - where communities grow">
    <meta name="description" content="Stateborn is a governance platform for next generation web3 communities. Propose, vote and let the community grow using free and secure governance protocol.">
    <meta property="og:description" content="Stateborn is a governance platform for next generation web3 communities. Propose, vote and let the community grow using free and secure governance protocol.">
    <meta property="og:site_name" content="stateborn - where communities grow">
    <meta property="og:locale" content="en_US">
    <meta property="keywords" content="dao,blockchain voting,off-chain voting">
    <meta property="og:type" content="websit">
    <meta property="og:url" content="https://stateborn.org/">
    <meta property="og:image" content="https://stateborn.org/ssoc1024_2.webp">
    <!-- Default Open Graph Image Width and Height -->
    <meta property="og:image:width" content="1024" />
    <meta property="og:image:height" content="512" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:url" content="https://stateborn.org/">
    <meta property="twitter:title" content="stateborn - where communities grow">
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (ctx.mode.cordova || ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="apple-touch-icon" sizes="180x180" href="/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/icons/favicon-16x16.png">
    <link rel="manifest" href="/icons/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">

    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-Q9V8C5PM33"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'G-Q9V8C5PM33');
    </script>

  </head>
  <body>
    <!-- quasar:entry-point -->
  </body>
</html>
