// app global css in SCSS form
@font-face {
  font-family: 'robotomono';
  src: url(./fonts/RobotoMono-Regular.ttf);
}

html {
  word-wrap: break-word;
}

body {
  font-family: 'robotomono' !important;
  background-color: white;
  background-image: url('/noise4.webp');
  background-repeat: repeat;
}

.headernoise {
  background-image: url('/noise6.webp');
  background-repeat: repeat;
}

.noise {
  background-image: url('/noise5.webp');
  background-repeat: repeat;
}

.bodynoise {
  background-image: url('/noise4.webp');
  background-repeat: repeat;
}

.noisered {
  background-image: url('/noisered.webp');
  background-repeat: repeat;
}

.noisegreen {
  background-image: url('/noisegreen.webp');
  background-repeat: repeat;
}

.noisegreencard {
  background-image: url('/noisegreen.webp');
  background-repeat: repeat;
  box-shadow: 0px 0px 0px 0px #9E9E9E;
}

.noiseredcard {
  background-image: url('/noisered.webp');
  background-repeat: repeat;
  box-shadow: 0px 0px 0px 0px #9E9E9E;
}

.text-h1 {
  font-size: 3rem;
  line-height: 1.2;
}

.stateborn-card {
  background-image: url('/noise5.webp');
  background-repeat: repeat;
  transition: box-shadow 0.3s ease;
  box-shadow: 0px 0px 0px 0px #9E9E9E;
}

.cursor-pointer {
  cursor: pointer;
}

.my-markdown h1 {
  line-height: 1 !important; /* Adjust this value as needed */
  margin: 0;
  padding: 0;
}

.my-markdown h2 {
  line-height: 1 !important; /* Adjust this value as needed */
  margin: 0;
  padding: 0;
}

.my-markdown p {
  line-height: normal !important; /* Adjust this value as needed */
  font-size: 1rem;
}

.font-one-rem {
  font-size: 1rem !important;
}
.text-stroke {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
}

.vertical-align {
  position: relative !important;
  top: 50% !important;
  -webkit-transform: translateY(-50%) !important;
  -ms-transform: translateY(-50%) !important;
  transform: translateY(-50%) !important;
}

.q-field__label.no-pointer-events {
  color: #424242;
}

.text-underline {
  text-decoration: underline;
}

a {text-decoration: none;color: inherit;}

.stateborn-tooltip {
  font-size: 16px !important;
  background: #424242;
  color: white;
}
